@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;300;400&family=Josefin+Sans:ital,wght@0,500;1,600&family=League+Spartan:wght@400;500&family=Outfit:wght@200;300;400;500;600;700&family=Overpass:wght@300&display=swap');



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #070724;
    background-image: url(./assets/background-stars.svg);
  font-family: 'League Spartan', sans-serif;
  color: #FFFFFF;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}